/* VARIABLES */
$black: #1a1a1a;
$white: #fcfcfc;
$accent: #ba68f4;
$shadow30: #00000080;

/* GENERAL SELECTORS */

html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: $black;
	background-color: $white;
}

nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $white;
	background-color: $black;
	margin: 0;
	padding: 1rem 1.5rem;
	gap: 2rem;
	z-index: 10;
	box-shadow: 0 2px 10px 2px $shadow30;
	width: calc(100% - 3rem + 1px);
	transition: top 0.3s, background-color 0.3s, box-shadow 0.3s;
}

header {
	background-color: $black;
	height: 432px;
	width: 100%;
	margin-block: 0;
	padding: 0;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

main {
	margin: 0;
	padding: 2rem;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	padding: 1.5rem 0;
}

footer {
	background-color: $black;
	color: $white;
	justify-content: center;
	padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

h1,
.h1 {
	font-size: 7rem;
	font-weight: 600;
	text-align: center;
	line-height: 79.8%;
	color: $white;
	font-family: 'Playfair Display', serif;
}

h2,
.h2 {
	color: $black;
	font-weight: 300;
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

h3,
.h3 {
	color: $black;
	font-size: 1.5rem;
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	letter-spacing: 0.1rem;
}

h4,
.h4 {
	color: $white;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 200;
}

h5, .h5 {
	font-size: 1rem;
	font-weight: 600;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

/* UTILITIES */

.d-flex {
	display: flex;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.gap-1-5rem {
	gap: 1.5rem;
}

.flex-wrap {
	flex-wrap: wrap;
}

/* CUSTOM SELECTORS */

.align-bottom-center {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-icon {
	display: block;
	align-self: flex-end;
	height: 2rem;
	stroke: $accent;
	color: $white;

	path {
		stroke: $white;
		transition: stroke 0.3s;
	}
}

.nav-items {
	display: none;
	background-color: $black;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	gap: 2rem;
	width: 100vw;
	height: 100vh;
	color: $white;
}

.nav-item {
	color: $white;
	text-transform: uppercase;
	text-decoration: none;
	transition: color 0.3s;
}

.container {
	gap: 24px;
}

.description {
	font-size: 1rem;
	gap: 1rem;
}

.photo {
	margin: 10px auto;
	position: relative;
	height: 320px;

	.photo__img {
		object-fit: cover;
		width: 270px;
		height: 290px;
		transform: translate(0px, 0px);
		-webkit-transform: translate(0px, 0px);
		filter: grayscale(1);
		-webkit-filter: grayscale(1);
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}

	.photo__border {
		width: 270px;
		height: 290px;
		border: 1px solid $accent;
		padding: 4px;
		transform: translate(0px, 0px);
		-webkit-transform: translate(0px, 0px);
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
}

.socialmedia {
	flex-direction: row;
	gap: 30px;
	justify-content: center;

	.socialmedia__icon {
		height: 2.5rem;
		fill: $accent;
	}
}

.color-fill--black {
	color: $black;
	fill: $black;
}

.skillset {
	flex-direction: column;
	gap: 10px;
}

.hobbie {
	flex-direction: column;
	flex: calc(50% - 1rem);
	align-items: center;
	gap: 10px;
	text-align: center;

	svg {
		max-height: 100px;
		max-width: 100%;
		
		path {
			fill: $black;
		}
	}
}

